$primary-color: #000;
$secundary-color: #fff;


/* devices small type max-width */
$xxs: "375px";
$xs: "390px";
$sm: "576px";
$md: "768px";
$lg: "992px";

/* devices type min-width */ 
$xl: "1200px";
$xxl: "1400px";
$fhd: '1920px';