.carousel-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1em;
    
}

.p{
    width: 770px;
}

.buttonContainer{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    top: 2em;
    width: 371px;
    left: 480px;
    
}